@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

h1{
  margin:0 !important;
}
.container-fluid{
  padding-left:0 !important;
  padding-right:0 !important;
}

html{
  margin:0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  margin:0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#topBanner{
  width: 100%;
  height:45vh;
  background-color: #D0EBF6;
}
#descriptionBanner{
  width:100vw;
  height:45vh;
  background-color:#D39052;
}

#bottomBanner{
  width:100vw;
  height:10vh;
  background-color:#C6772D ;

}
#nameWrapper{

  width: 50%;
  top:50%;
  display:block;
  margin:auto;
}
#nameWrapper #title{
  padding-left:.2em;
}
#topBanner h1{
  font-family: 'Space Mono', monospace;
  font-size: 3em;
  display: inline-block;

}
#descriptionBanner h1{
  
  font-family: 'Space Mono', monospace;
  font-size: 2.5em;
  padding-right:62.5vw;
  padding-top:2%;
  color:#D0EBF6;
}
#paragraph{

  width: 100vw;
  text-align: left;
}
#paragraph p{
  color: #D0EBF6;
  padding-right:14%;
  padding-left:13.5%;
  font-size: 1.7em;
  font-family: 'Space Mono', monospace;
}